body {
  font-family: Arial, sans-serif;
  background-color: rgb(45,40,33);
  margin: 0;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: rgb(210, 215, 222);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: rgb(35, 32, 27);
}

.tabs {
  margin-bottom: 10px;
}

.tabs button {
  margin: 5px;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  background: #ddd;
  border-radius: 5px;
  color: rgb(35, 32, 27);
  border: 1px solid rgb(173, 173, 173);
}

.tabs button.active {
  background: rgb(45,40,33);
  color: white;
}

.filters {
  margin: 10px 0;
}

#genreFilter, #sortToggle {
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  background: rgb(216, 216, 216);
  border: 1px solid rgb(173, 173, 173);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: rgb(216, 216, 216);
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  color: rgb(35, 32, 27);
}

#movieIcon {
  margin-bottom: -0.15rem;
}