body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}

#movieIcon {
  margin-left: 8px;
  margin-bottom: -2.5px;
}

#sort-button {
  opacity: 100%;
}

#sort-button-hidden {
  display: none;
}

nav {
  margin: 20px 0;
}

button {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.tab-button.active {
  background-color: #28a745;
}

#content {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: white;
  margin: 5px auto;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#list {
  display: flex;
  justify-content: space-between; /* Розміщує елементи по боках */
  margin: 10px 0; /* Зробити трохи відступу між елементами */
  margin-left: auto;
  margin-right: auto;
}

#list div {
  display: inline-block;
  padding: 5px; /* Відступи між текстом і краєм */
}

#list div:first-child {
  text-align: left; /* Назва фільму ліворуч */
}

#list div:last-child {
  text-align: right; /* Оцінка праворуч */
}

@media (max-width: 800px) {
  nav {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tab-button {
    width: 34%;
  }

  #content {
    max-width: 100%;
    padding: 10px;
  }

  li {
    flex-direction: column;
    text-align: center;
  }

  .genre-buttons {
    flex-direction: row;
    align-items: center;
  }

  .genre-button {
    width: 30%;
  }
}

@media (max-width: 450px) {
  .genre-buttons {
    flex-direction: row;
    align-items: center;
  }

  .genre-button {
    width: 40%;
  }
}
